/* --------- Global style */


* {
    margin: 0;
    padding: 0;
    font-family: 'Oswald', sans-serif;
 }

 body,
html {
    overflow: hidden;
   
}
 
:root{
    --primary: rgba(17, 172, 161, 0.35);
    --secondry: hsl(45, 100%, 66%, 0.65);
}

.landing-page {
  
    /*background:linear-gradient(-70deg, #91EAE4 50%, white 0% );*/
    background:linear-gradient(70deg, var(--primary) 50%, var(--secondry)),
               url("Maths (1).jpg") no-repeat center center / cover ; 
    background-attachment: fixed ;
    font-family: 'Playball', cursive;
    height:100vh;
    width:100vw;
    
}

.landing-page::before{
    content: "";
    display:block;
    position:absolute;
    color:black;
    top:0;
    right:0;
    bottom:0;
    left:0;
    opacity: 0.9;
   }


.hero-image{
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
    display: none;
}

.landing-page-2{
   
    position: relative;
    background:  linear-gradient(70deg, var(--primary) 50%, hsl(187, 66%, 48%, 0.35)),
    url("math-page-2.jpg") no-repeat center center / cover ;
    height: 100%;
    width: 100%;
    
}

 .logo-heading {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-weight: 900;
    text-transform: capitalize;
    text-decoration-color: chocolate;
    color:white;
    font-family: 'Playfair Display SC', serif;
    display: grid;
    place-items: center;
    place-content: center;
   
    
}
.logo-heading-1{
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    display: none;
    font-weight: 900;
    text-transform: capitalize;
    text-decoration-color: chocolate;
    color:white;
    font-family: 'Playfair Display SC', serif;
  
}
.welcome-1{
   position:relative;
   font-size:50px;
   letter-spacing: 5px;
   color: white;
   text-shadow: 2px 2px 4px #000000;
   animation: mymove 2s ;
   font-family: 'Playfair Display SC', serif;
}

@keyframes mymove {
  from {bottom: -600px;}
  to {bottom: 0;}
}


.button-btn {
   margin-top: 30px;
   width: 100%;
   height: 100%;
   font-family: 'Playfair Display SC', serif;
   text-align: center;
   justify-content: center;
   text-decoration: none;
   background: #ff4b1f;  /* fallback for old browsers */
   background: -webkit-linear-gradient(to bottom, #ff9068, #ff4b1f);  /* Chrome 10-25, Safari 5.1-6 */
   background: linear-gradient(to bottom, #ff9068, #ff4b1f); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
   font-size: 22px;
   color: white;
   text-shadow: 2px 2px 4px #000000;
   text-transform: capitalize; 
   letter-spacing: 2px;
   font-weight: 400; 
}

.join-us-1{
    width: 100%;
    position: relative;
  }
  
  .hvr-sweep-to-bottom:before {
      background: rgba(0, 0, 0, 0.2);
      
  }
  
  .button-btn:hover {
     color:white;
  }


.top{
    position: absolute;
    top:40px;
    left:40%;
    font-size: 18px;

}

.logo {
    height: 100px;
    left:10%;
    margin-top:20px;
    position: relative;
    float:left;
    font-family: 'Playfair Display SC', serif;
    font-weight: 900;
    font-size: 30px;
    letter-spacing: 0px;
    color: white;
    text-shadow: 2px 2px 4px #000000;
    
}

.nav-1 a {
    text-decoration: none;
    animation: mylogo 1s ;
  
}

@keyframes mylogo {
  from {left: -150px;}
  to {left: 10%;}
}

.nav-1 i{
   color: #ffd452;
   font-size:50px;
   background:url("logo.png") repeat  ;
}

.nav-1 a:hover{
    color:whitesmoke;
}
.nav-1{
    overflow: hidden;
    background-color: transparent;
    color: #fff;
    padding: 10px 0;
    
  }

  nav{
    
    float: right;
    display: none;
    
  }
  .nav-2{
    float: right;
    display: initial;
  }
  
  nav ul{
    list-style-type: none;
   
  }
  
  nav li {
    font-size: 1rem;
    margin-top: 20px;
    padding:0px 15px;
    margin-right:40px;
    margin:auto;
    list-style: none;
  
}

.final-score{
    font-family: 'Playfair Display SC', serif;
    font-size: 25px;
    background-color: hsl(45, 100%, 66%);
    background:  linear-gradient(70deg, var(--primary) 50%, hsl(187, 66%, 48%, 0.35));
    color: white;
    margin-right:30px;
    margin-top:20px;
    
   
}
.final-score-1{
   color: hsl(45, 100%, 66%);
}

section{
    display: none;
      
  }
  
  .list-section{
    display: initial;
      
  }

  section ul{
    list-style-type: none;
    display: inline-flex;
    align-items: center;
    margin: auto;
    margin-top:20px;
  }
  
  section ul li {
    font-size: 1.3rem;
    text-align: center;
    justify-content: center;
    list-style: none;
   
   
}

/* --------- Game layout */

.game-area {
    background-color: #E6ECF0;
    background-color: black;
    opacity: 0.8;
    display: none;
    
    box-sizing: border-box;
    width: 85%;
    height: 65vh;
    max-height: 500px;
    max-width: 830px;
    margin-left: auto;
    margin-right: auto;
    padding: 1%;
    
}
.game-area-1 {
    background-color: #E6ECF0;
    background-color: black;
    opacity: 0.8;
    display: none;
    
    box-sizing: border-box;
    width: 85%;
    height: 65vh;
    max-height: 500px;
    max-width: 830px;
    margin-left: auto;
    margin-right: auto;
    padding: 1%;
    
}
.game-area-2 {
    
    display: grid;

    
   position: relative;
    margin-top:60px;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    max-height: 100%;
    max-width: 50%;
    margin-left: auto;
    margin-right: auto;
    padding: 1%;
   
    
}

.question-area {
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
    max-width:100%;
    font-size: 5.2vw;
    background:  rgba(17, 172, 161);
    position: relative;
    border-radius: 3px;
    text-align: center;
    padding-bottom:50px;
    height:400px;
    opacity: 0.9;
    font-family: 'Playfair Display SC', serif;
    box-shadow: 6px 6px 10px -1px rgb(0, 0, 0, 0.5),
    -6px -6px 10px -1px rgb(255, 255, 255, 0.7);

}
.num1-color{
color:#FE4A49;
font-family: 'Playfair Display SC', serif;
}

.num2-color{
    color:#FED766;
    font-family: 'Playfair Display SC', serif;
    }

    .times{
        color:whitesmoke;
        font-family: 'Playfair Display SC', serif;
    }
    .equals{
        color:#F86624;
        font-family: 'Playfair Display SC', serif;
    }
.question-area span {
    padding: 0 15px;
}

.controls-area {
    width: 100%;
    margin: 30px auto;
}

#score {
    color: green;
    font-weight: bold;
    
}
 
#incorrect {
    color: red;
    font-weight: bold;
}

.answer-message {
    display: none;
    font-size: 1rem;
}

#answer-box {
    border: none;
    
    color: white;
    display: inline-block;
    height: auto;
    width: 200px;
    max-width:100%;
    background:rgba(17, 172, 161);
    text-align: center;
    font-family: 'Playfair Display SC', serif;
    
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: whitesmoke;
    opacity: 1; /* Firefox */
  }

input:focus {
    outline:none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.btn-green {
    font-size: 20px;
    
    font-family: 'Playfair Display SC', serif;
    background-color: darkgreen;
    color: white;
    
}

.btn-green:hover {
    background-color: transparent;
    color: green;
    
}
.btn-green :active
 {
    background-color: transparent;
    color: white;
    
}

.btn-red{
    font-size: 20px;
    background-color: #FE4A49;
    color: white;
    font-family: 'Playfair Display SC', serif;
}
.btn-red:active,
.btn-red:hover {
    background-color:transparent;
    color: #FE4A49;
    
}

.btn-blue{
    font-size: 20px;
    font-family: 'Playfair Display SC', serif;
    background-color: #2AB7CA;
    color: white;
}

.btn-blue:active,
.btn-blue:hover {
    background-color: transparent;
    color: #2AB7CA;
   
    
}

.btn-yellow{
    font-size: 20px;
    font-family: 'Playfair Display SC', serif;
    background-color: #FED766;
    color: white;
}
.btn-yellow:active,
.btn-yellow:hover {
    background-color: transparent;
 
    color: #FED766;
    
}

.btn-gray {
    position: absolute;
    right:5%;
    top:76%;
    max-width: 100%;
    text-align: center;
    height: 60px;
    text-align: center;
    justify-content: center;
    text-decoration: none;
    background: #FED766;  
    font-size: 22px;
    color: white;
    text-shadow: 2px 2px 4px #000000;
    font-family: 'Playfair Display SC', serif;
    text-transform: capitalize;
    letter-spacing: 2px;
    font-weight: 400;
}

.btn--gray:active,
.btn--gray:hover {
    background-color: white;
}

/* @media query -----*/ 

@media (max-width:1300px){
    
    div.game-area-2 {
    
       
        width: 100%;
        height: 100%;
        max-height: 100%;
        max-width: 70%;
           
    }
    
}


@media (max-width: 1150px){
   
     .welcome-1{
        font-size:45px;
        letter-spacing: 5px;
         
     }
    }
@media (max-width: 1010px){
    .welcome-1{
        font-size:45px;
        letter-spacing: 4px;
        
    }
   
    .button-btn {
        margin-top: 30px;
        text-align: center;
        justify-content: center;
        text-decoration: none;
        background: #ff4b1f;  
        background: -webkit-linear-gradient(to bottom, #ff9068, #ff4b1f);  
        background: linear-gradient(to bottom, #ff9068, #ff4b1f); 
        font-size: 20px;
        color: white;
        text-shadow: 2px 2px 4px #000000;
         text-transform: capitalize;
        letter-spacing: 2px;
        font-weight: 400;
    }

    div.game-area-2 {
        width: 100%;
        height: 100%;
        max-height: 100%;
        max-width: 90%;
         
    }
    div.question-area {
        
        font-size: 50px;
        
    }
    input#answer-box {
       
        font-size: 50px;
           
    }
   
}

@media(max-width:780px){
   
    section ul{
      list-style-type: none;
      display: inline-flex;
      align-items: center;
      margin: auto;
      margin-top:30px;
    }
    
    section ul li {
      font-size: 1.3rem;
      text-align: center;
      justify-content: center;
      list-style: none;
        
  }
  .logo {
 
    left:5%;   
}

.final-score{
    font-size: 22px;
    margin-right:15px;
      
}
.game-area-2 {
    
    margin-top:60px;

}
   
}

@media (max-width: 625px){
   
    .button-btn {
        margin-top: 30px;
        text-align: center;
        justify-content: center;
        text-decoration: none;
        background: #ff4b1f;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to bottom, #ff9068, #ff4b1f);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to bottom, #ff9068, #ff4b1f); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        font-size: 20px;
        color: white;
        text-shadow: 2px 2px 4px #000000;
        font-family: 'Playfair Display SC', serif;
        text-transform: capitalize;
        letter-spacing: 2px;
        font-weight: 400;
        
    }
    .welcome-1{
        
        font-size:35px;
        letter-spacing: 2px;
        
    }
    

}

@media (max-width:530px){
    
     section ul {
        display:grid;
        grid-template-columns: auto auto;
       
      } 
      
    li.final-score{
        font-family: 'Playfair Display SC', serif;
        font-size: 14px;
        background-color: hsl(45, 100%, 66%);
        background:  linear-gradient(70deg, var(--primary) 50%, hsl(187, 66%, 48%, 0.35));
        margin-right: 0px;  
        border-radius: 50%;
        width:65px;
        height:65px;
        text-align: center;
        align-self: center;
        padding:11px;
        margin-top:15px;
    }
    div.menu-bar {
        position: fixed;
        right: 15px;
        top: 20px;
        
    }
    .logo {
        
        left:3%;
       
        
    }
  
    
    input#answer-box {
        border: none;
        color: white;
        display: inline-block;
        height: auto;
        width: 100px;
        max-width:100%;
        background:rgba(17, 172, 161);
        text-align: center;
        font-family: 'Playfair Display SC', serif;
        
    }
    .game-area-2 {
    
        margin-top:50px;
       
   
    }

    section ul li {
        margin-bottom: 10px;
        text-align: center;
        justify-content: center;
        list-style: none;
       
       
    }
    
    .btn-green {
        font-size: 18px;
        width:120px;
       
        background-color: darkgreen;
        color: white;
        font-family: 'Playfair Display SC', serif;
   

        
    }
    .btn-red{
        font-size: 18px;
        background-color: #FE4A49;
        color: white;
       
        width:120px;
        font-family: 'Playfair Display SC', serif;
       
    }
   
    .btn-blue{
        font-size: 18px;
        font-family: 'Playfair Display SC', serif;
        background-color: #2AB7CA;
        color: white;
        width:120px;
    }
    
    
    
    .btn-yellow{
        font-size: 18px;
        width:120px;
        font-family: 'Playfair Display SC', serif;
        background-color: #FED766;
        color: white;
       
    }
    button.btn-gray {
        width:90%;
        top:76%;
     
    }
    .question-area {
        display: flex;
        justify-content: center;
        align-items: center;
        width:100%;
        max-width:100%;
        font-size: 5.2vw;
        background:  rgba(17, 172, 161);
        position: relative;
        border-radius: 3px;
        text-align: center;
        padding-bottom:50px;
        height:300px;
        opacity: 0.9;
        margin-bottom: 50px;
        box-shadow: 6px 6px 10px -1px rgb(0, 0, 0, 0.5),
        -6px -6px 10px -1px rgb(255, 255, 255, 0.7);
        font-family: 'Playfair Display SC', serif;
    }
    
  
}

@media(max-width:500px){
   
    div.question-area {
        font-size: 40px;
        
    
    }
    input#answer-box {
       font-size: 40px;
       width: 50px;
        
    }

}

@media(max-width:400px){
    
    

    input#answer-box {
       height: 100px;
       width: 40px;
       max-width:100%;
        
    }

   
div.question-area {
        
    font-size: 30px;
    
}
input#answer-box {
   
    font-size: 30px;
       
}
   
}
